.form {
  min-height: clamp(10vh, 100%, 20vh);
  width: min(80ch, 100vw - 2rem);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 650px) {
    justify-content: flex-start;
  }

  &__legend {
    margin-bottom: 30px;
    font-size: clamp(15px, 1vw + 0.5rem, 20px);
  }

  label {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (min-width: 650px) {
      flex: 2;
    }
  }

  &__wrapper {
    width: min(100%, 820px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 650px) {
      flex-direction: row;
      gap: 1.5rem;
      margin-top: 2rem;
    }
  }

  &__input {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 18px;
    border: 1px solid hsl(223, 100%, 88%);
    color: hsl(209, 33%, 12%);
    border-radius: 999999px;

    &::placeholder {
      color: hsl(223, 100%, 88%);
    }

    &:focus {
      border: 1px solid hsl(223, 87%, 63%);
      outline: none;
    }

    &.invalid {
      border: 1px solid hsl(354, 100%, 66%);
    }
  }

  &__btn {
    margin-top: 15px;
    width: 90%;
    padding: 1rem 1rem;
    font-size: 18px;
    border: none;
    color: #fff;
    background-color: hsl(223, 87%, 63%);
    border-radius: 999999px;
    cursor: pointer;
    box-shadow: 0px 3px 6px 2px hsl(223, 100%, 88%);

    @media (min-width: 650px) {
      margin-top: 0;
      flex: 1;
    }

    &:hover {
      background-color: hsla(223, 87%, 63%, 0.751);
    }
  }

  .error {
    margin: 10px 0;
    text-align: center;
    font-style: italic;
    color: hsl(354, 100%, 66%);

    @media (min-width: 650px) {
      margin: 0;
      position: absolute;
      bottom: -30px;
      left: 30px;
    }
  }
}
