.footer {
  min-height: 25vh;
  width: min(30ch, 100vw - 2rem);
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media (min-width: 650px) {
    margin-bottom: 2rem;
    min-height: 20vh;
  }
}

.social {
  width: 60%;
  display: flex;
  justify-content: space-around;

  &__icon {
    color: hsl(223, 87%, 63%);

    &:hover {
      color: hsl(223, 85%, 53%);
    }
  }
}

.copyright {
  color: hsl(209, 33%, 12%);
}
